<routes><route><id>1</id><name>Kamikaze</name><start>2</start><end>7</end><holds>2, 5, 7, 12, 14</holds></route><route><id>2</id><name>your routename here.</name><start>10</start><end>7</end><holds>3, 7, 10, 13, 14</holds></route><route><id>3</id><name>Tower of Power</name><start>10</start><end>7</end><holds>7, 10, 12, 14, 15</holds></route></routes>