<routes><route><id>1</id><name>All in</name><start>0</start><end>26</end><holds>0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26</holds></route><route><id>1</id><name>test1</name><start>1</start><end>16</end><holds>1, 2, 5, 12, 14, 16</holds></route><route><id>2</id><name>test2</name><start>10</start><end>7</end><holds>3, 7, 10, 13, 23</holds></route><route><id>3</id><name>test3</name><start>19</start><end>16</end><holds>14, 15, 16, 19, 21</holds></route></routes>